.secLogo{
    height: 35vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.div-logo{
    display: flex;
    align-items: center;
}

.div-logo--Top15{
    top:15%
}

.div-logo--Mobile{
    img{
        @media(max-width:500px){
            width:270px;
            height: 160px
        }
    }
}