@import "../../variables";

.card-product {
  a{
    text-decoration: none;
  }
  width: 22%;
  margin: 0 1% 7rem 1%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease;
  transform: scale(1);
  
  &:hover{
    transform: scale(1.1);
  }
  .div-img {
    border-radius: 0px 0px 20px 20px;
    display: inline-block;
    img {
      height: 300px;
      width: 300px;
      margin: -7rem 0px -2rem 0px;
    }
    .inner-skew {
      display: inline-block;
      border-radius: 20px;    
    }
  }
  .div-infos{
    box-shadow: 0px 0px 9.5px 7px rgba(0, 0, 0, 0.25);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: $color-lightGrey;
    margin: -120px 0px 0px 0px;
    font-size: 14px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    button{
        margin-top:1rem;
        border: none;
        background-color: $color-green;
        width: 50%;
        padding: 0.4rem;
        border-radius: 20px;
        color: white;
        cursor: pointer;
        font-weight: bold;
        &:hover{
            background-color: $color-orange;
        }

    }
    .info-product{
        margin-top: 0.5rem;
        text-align: center;
    }

  }  
}
