.labelInput{
    width:100%;
    margin-left: 0.5em;
}
.div-input{
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
    .input{
        width: 500px;
        padding: 1em;
        border-radius: 30px;
        border: 1px solid black;
        @media(max-width:595px){
            width: 400px;
        }
        @media(max-width:460px){
            width: 350px;
        }
    }
}