@import "../../variables";
.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background: $color-grey;
    box-sizing: content-box;
    padding: 1rem 0rem 1rem 0;
    @media (max-width: 540px){
        min-height: 30vh;
    }
    .section-footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        @media (max-width: 1000px){
            width: 90%;
        }
        @media (max-width: 540px){
            flex-direction: column;
        }
        .div-infos{
            .h2-footer{
                color: white;
                @media (max-width: 1000px){
                    font-size: 20px;
                }
            }
            .ul-infos{
                list-style: none;
                color: white;
                @media (max-width: 1000px){
                    font-size: 15px;
                }
                li{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-right: 0.5rem;
                    }
                    &:last-child{
                        margin-bottom: 0.7rem;
                    }
                }
            }
        }
    }
}