.section-products{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 7rem;
    .div-products{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1484px) {
            width: 90%;
        }
        @media (max-width:1055px){
            width: 80%;
        }
        @media (max-width:790px){
            width: 90%;
            justify-content: center;
        }
        
    }
}